$topBarHeight: 22px;
$bottomBarHeight: 65px;
$bottomBarBorderWidth: 1px;

$controlLabel: #434343;
$controlIconLine: #797979;

$controlText: #434343;
$controlGray: #797979;
$sparkOrange: #ff4800;
$helitackOrange: #f77b0b;
$helitackYellow: #f9c139;
$helitackGray: #aaaaaa;
$helitackRotorGray: #b3b3b3;
