.git
/node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
*.ipynb
*.zip
tactix/node_modules
tactix/tactix-training/__pycache__
tactix/tactix-training/models
tactix/tactix-training/runs
tactix/tactix-training/tb-env
tactix/tactix-training/models
tactix/tactix-training/trained_agents
setup.txt
.idea
/backend/
/tactix-training/
__mocks__